{% extends 'jutsu/jutsu_base.html' %}
{% block content %}
{% load static %}

<style>
            @font-face {
                font-family: 'tormenta20';
                src: url('/static/styles/Fontes/Tormenta20.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'go3v2';
                src: url('/static/styles/Fontes/go3v2.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'iowanOldStyleBold';
                src: url('/static/styles/Fontes/Iowan Old Style Bold.otf') format('opentype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'iowanOldStyleBoldItalic';
                src: url('/static/styles/Fontes/Iowan Old Style Bold Italic.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'iowanOldStyleRegular';
                src: url('/static/styles/Fontes/Iowan Old Style Regular.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            h1 {
                font-family: 'go3v2';
                font-weight: normal;
                color: #1e7335;
                text-align: center;
<!--                font-size: 200%;-->
            }

            h2 {
                font-family: 'go3v2';
                font-weight: normal;
                color: white;
                display: inline;
                background-image:url("/static/img/pincelada.png");
                background-size: cover;
                background-position: right;
                padding-right: 40px;
                padding-left: 10px;
            }

            h3 {
                font-family: 'go3v2';
                font-weight: normal;
                color: #f0dc82;
                font-size: 200%;
            }

            h4 {
                font-family: 'go3v2';
                font-weight: normal;
                color: #1e7335;
                vertical-align:text-bottom;
                font-size: 180%;
                text-shadow: 1px 1px 1px black;
            }

            h5 {
                font-family: 'go3v2';
                font-weight: normal;
                color: #1e7335;
                vertical-align:text-bottom;
                text-shadow: 2px 2px 1px white;
            }

            body {
                background-image: url("/static/img/bg_1.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                bacground-position: center;
            }

            .bg_image {
                background-image: url("/static/img/background.png");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                bacground-position: center;
            }

            .bld{
                font-family: 'iowanOldStyleBold';
                color: white;
                font-weight: normal;
                font-style: normal;
                font-size: 110%;
                font-variant: small-caps;
            }

            label{
                font-family: 'iowanOldStyleRegular';
                color: white;
                font-weight: normal;
                font-style: normal;
            }

            .btn-primary{
            font-family: 'iowanOldStyleRegular';
                background-color:#025218;
                border-color:#3f0f12;
                color:#f0dc82;
            }

            .dropdown-btn{
                background-color:Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
            }
            .dropdown-container {
                display: block;
            }

            .arrow {
                border: solid;
                border-width: 0 3px 3px 0;
                padding: 6px;
                display: inline-block;
                align: center;
                color: #d13235;
            }
            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

            .hide{
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }

            .select{
                border: 1px solid transparent;
                padding: .5rem .75rem;
                font-family: 'iowanOldStyleRegular';
                background-color:#025218;
                border-color:#3f0f12;
                color:#f0dc82;
                font-weight: 400;
                line-height: 1.5;
                vertical-align: middle;
                font-size: 1rem;
                border-radius: .25rem;
                text-align: center;
                text-decoration: none;
                min-width: 8rem;
            }

            .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
                color: #f0dc82;
                background-color: #025218;
                border-color: #f0dc82;
            }

            .select:hover, .select:focus, .select:active, .select.active, .open>.dropdown-toggle.select {
                color: #f0dc82;
                background-color: #025218;
                border-color: #f0dc82;
            }

            img {
                display: inline-block;
            }

        </style>

<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="padding-top:15px"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 bg_image" style="padding-top: 13px"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 bg_image" style="padding-top: 15px;padding-bottom: 15px;padding-left:15px;padding-right:15px">
                        <h1>{{ tome.name }}: {{ count }} jutsu{{ count|pluralize }}</h1>

                            {% for g in grades %}
                                <br>
                                {% if g == 'BA' %}
                                <h2 >Básico: </h2>
                                {% endif %}
                                {% if g == 'ME' %}
                                <h2 >Mediano: </h2>
                                {% endif %}
                                {% if g == 'AV' %}
                                <h2 >Avançado: </h2>
                                {% endif %}
                                {% if g == 'SU' %}
                                <h2 >Sublime: </h2>
                                {% endif %}
                                {% if g == 'LE' %}
                                <h2 >Lendário: </h2>
                                {% endif %}

                                    {% for c in chacras %}
                                        {% if c == 'FO' %}
                                            <h4 >Força: </h4>
                                        {% endif %}
                                        {% if c == 'DE' %}
                                            <h4 >Destreza: </h4>
                                        {% endif %}
                                        {% if c == 'CO' %}
                                            <h4 >Constituição: </h4>
                                        {% endif %}
                                        {% if c == 'IN' %}
                                            <h4 >Inteligência: </h4>
                                        {% endif %}
                                        {% if c == 'SA' %}
                                            <h4 >Sabedoria: </h4>
                                        {% endif %}
                                        {% if c == 'CA' %}
                                            <h4 >Carisma: </h4>
                                        {% endif %}

                                        {% for jutsu in jutsu_list %}
                                            {% if jutsu.grade == g %}
                                            {% if jutsu.chacra == c %}
                                                <form action="{% url 'tome:remove_jutsu' %}" method="POST">
                                                    <input type="hidden" name="tome_id" value='{{ tome.id }}'>
                                                    <input type="hidden" name="jutsu" value='{{ jutsu.id }}'>
                                                    {% csrf_token %}
                                                    <a href="{% url 'jutsu:jutsu_details' jutsu.id %}" style="text-decoration:none; color:inherit">
                                                        <h5>
                                                            <input type="submit" value="Remov." class="btn btn-primary" style="padding:0;height:25px;width:auto">
                                                            {{ jutsu.name }}
                                                        </h5>
                                                    </a>
                                                </form>
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                            {% endfor %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}